.container h2{
    text-align: center;
    background-color: cadetblue;
    width: 400px;
    border-radius: 6px;
    padding: 8px;
    margin-top: 2px;
    display: inline-block;
    
}
.container div{
    display: flex;
    justify-content: center;
    margin-top: 4px;
    
}
.container p{
    width: 90%;
    margin: auto;
    text-align: justify;
}